.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}
.loginHeader {
  background: white;
  padding-bottom: 1rem;
}
.loginHeader h2 {
  text-align: center;
  margin: 0;
  color: #0a416e;
}
.loginCancelBtn {
  position: absolute;
  left: 3%;
  top: 8%;
}
.modal {
  position: fixed;
  top: 30vh;
  left: 10%;
  width: 80%;
  z-index: 90;
  overflow: hidden;
  padding: 1rem;
}

.okayBtn {
  background-color: #a52a2a !important ;
}
.header {
  background: #a52a2a;
  padding: 1rem;
}

.header h2 {
  margin: 0;
  color: white;
}

.content {
  padding: 1rem;
}

.actions {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}
