.header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 70px;
  align-items: center;
  background: #0a416e;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  margin-left: 70%;
}

.buttons-menu,
.user-menu {
  display: flex;
  width: 80%;
  align-items: flex-start;
  align-content: flex-start;
}

.logo-header {
  justify-self: end;
}

.logo-header {
  height: 100px;
}

.logoMTA {
  height: 70px;
}
