.header {
  display: flex;
  justify-content: space-between;
  padding: 0 6.5rem;
  height: 70px;
}

.menu-header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 80%;
  padding-bottom: 10px;
}

.logo-header img {
  height: 100px;
}
