.uploadJob-card {
  position: relative;
  width: 40%;
  text-align: right;
  padding: 1rem 2rem;
}
.uploadJob-card img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.separator {
  margin-bottom: 1rem;
}

.uploadJob-card {
  display: flex;
  gap: 1rem;
}

.uploadJob-card input {
  font-size: large;
  border-color: rgba(0, 0, 0, 0);
  padding: 0 1rem;
  text-align: right;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.1);
}
.uploadJob-card input:hover {
  translate: 1sec;
  background-color: rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease-in-out;
}
.uploadJob-author {
  align-items: center;
  display: flex;
  gap: 1rem;
}
