.courses {
  display: flex;
  justify-content: center;
  padding: 3rem 1rem 1rem 1rem;
  overflow: hidden;
  height: 93vh;
  position: relative;
}
.courses-card {
  overflow-y: scroll;
  width: 80%;
  padding: 7rem 1rem 1rem 1rem;
  gap: 2rem 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.courses-title {
  position: absolute;
  top: 1rem;
  right: 50%;
  transform: translate(50%, 0);
}
.courses-img {
  width: 30rem;
  height: 8rem;
  position: relative;
}
.courses-icn {
  height: 8rem;
  position: absolute;
  top: 0rem;
  right: -4.5rem;
  transform: rotate(25deg);
}
