.course {
  position: relative;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.course-icn {
  height: 4rem;
  width: 4rem;
  position: absolute;
  transform: rotate(-25deg);
  left: 0rem;
  top: 0rem;
}
.course ul {
  list-style: none;
  text-align: right;
  margin: 0;
}
.course div header,
.course header div header {
  display: flex;
  gap: 0.3rem;
  justify-content: flex-start;
  align-items: center;
}
.recommendations h3 {
  margin: 0;
}
.course-list-icn {
  height: 2rem;
  width: 2rem;
}
.course-rating {
  display: flex;
  gap: 1rem;
  align-items: center;
}
