.icons {
  margin-left: 3rem;
  list-style-type: none !important;
  display: inline-flex;
  vertical-align: middle;
  gap: 10px;
  align-items: flex-start;
  align-content: flex-start;
  margin-right: 30%;
}

.fa-2xl path {
  color: white;
}
