.register-form .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.register-cancel-btn {
  position: absolute;
  left: 3%;
  top: 8%;
}
.register-form {
  justify-self: center;
}
.register-card {
  position: fixed;
  top: 30vh;
  left: 30%;
  width: 40%;
  z-index: 100;
  overflow: hidden;
  padding: 1rem;
}
.register-header {
  background: white;
  padding-bottom: 1rem;
}

.register-header h2 {
  margin: 0;
  color: #0a416e;
}

.register-contents {
  padding: 0.7rem 0;
  text-align: right;
  display: flex;
  gap: 0.3rem;
  padding-bottom: 1rem;

  flex-direction: column;
}
.register-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px 10px;
}
.register-content {
  width: 100%;
  padding: 0.3rem 0;
}
select {
  text-align: center;
}

input {
  text-align: center;
  font: inherit;
  border-color: #ccc;
  border-radius: 6px;
  width: 100%;
}

.register-actions {
  padding: 0.7rem 0 0 0;
  display: flex;
  width: 100%;
  gap: 0.2rem;
  align-content: center;
  justify-content: flex-end;
}

.register-send,
.register-back {
  font-size: 12px;
  font-weight: 500;
  width: fit-content;
  border-radius: 4px;
}

.modal {
  position: fixed;
  top: 30vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: hidden;
}
.input-div {
  position: relative;
}
svg.sticky {
  position: absolute;
  z-index: 1000;
  top: 25%;
  left: 5px;
}
input[type="date"] {
}
::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 30%;
}

select {
  appearance: none;
}
