/* .login-page {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: auto 2fr;
  margin: 0 3rem;
  justify-content: center;

  height: 500px;
} */
.login-form {
  grid-row-start: 2;
  grid-column-start: 2;
  justify-self: center;
}
/* 
.title {
  color: #0a416e;
  text-align: start;
  font-size: 50px;
  grid-row: 1;
  grid-column: 1/ -1;
  justify-self: flex-start;
}

.title p {
  margin-block-start: 0;
  margin-block-end: 0;
}
.login-img {
  overflow: hidden;
  grid-row-start: 2;
  grid-column: 1;
  width: 100%;
  height: 70%;
  align-self: center;
  justify-self: center;
  padding-right: 4rem;
  border-radius: 1%;
} */

.form-card {
  padding: 1rem 3rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}

.login-control {
  text-align: right;
  display: flex;

  flex-direction: column;
}

.login-control label {
  font-weight: bold;
  margin-bottom: 0.2rem;
  display: block;
}

.login-control input {
  text-align: center;
  font: inherit;
  padding: 0.5rem 0;
  border-radius: 6px;
  max-width: 100%;
}

.login-actions {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;
}

.btn {
  width: fit-content;
  font-size: 12px;
  border-radius: 5px;
}

.login-btn {
  align-self: center;
  font-size: 15px;
}
.forgotPass-btn {
  align-self: flex-start;
  font-size: 10px;
}
.register-btn {
  padding: 0 1rem;
  align-self: flex-end;
}
