.login-form {
  justify-self: center;
}

.form-card {
  font-size: 12px;
  font-weight: 500;
  padding: 1rem 2rem;
  display: flex;
  gap: 0.3rem;
  flex-direction: column;
  align-items: center;
}

.login-control {
  text-align: right;
  display: flex;

  flex-direction: column;
}

.login-control label {
  margin-bottom: 0.1rem;
  display: block;
}

.login-control input {
  text-align: center;
  font: inherit;
  padding: 0.3rem 0;
  border-radius: 6px;
}

.login-actions {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.2rem;
  align-items: center; /**/
}

.btn {
  font-size: 12px;
  font-weight: 500;
  width: fit-content;
  border-radius: 5px;
}
.login-btn {
  background-color: #a52a2a !important ;
}
.login-btn:hover,
.login-btn:active {
  background: #b94343 !important ;
  border-color: #b94343 !important ;
}

.forgetPass-btn {
  background-color: rgb(172, 124, 124) !important ;
  font-weight: 400 !important ;
  font-size: 10px !important ;
}
.forgetPass-btn:hover,
.forgetPass-btn:active {
  background: rgb(172, 134, 134) !important ;
  border-color: rgb(172, 134, 134) !important ;
}
.register-btn {
  background-color: #008000 !important ;
  font-weight: 400 !important ;
  font-size: 10px !important ;
  padding: 0 1rem !important ;
}
.register-btn:hover,
.register-btn:active {
  background: #2cae2c !important ;
  border-color: #2cae2c !important ;
}

.separator {
  align-self: flex-start;
  margin: 0.5rem 0;
}
