.mini-profile {
  justify-self: center;
}
.mini-profile .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}
.mini-profile-card {
  position: fixed;
  top: 30vh;
  left: 30%;
  width: 40%;
  z-index: 100;
  overflow: hidden;
  padding: 1rem;
}
.mini-profile-header {
  position: relative;
  align-items: center;
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
}
.mini-profile-cancel-btn {
  position: absolute;
  left: 0;
  top: 0;
}
.mini-profile-header h2 {
  text-align: right;
  margin: 0;
  font-size: 1.5rem;
  color: #0a416e;
}
.mini-profile-img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.mini-profile-contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
.mini-profile-content {
  gap: 1rem;
  display: flex;
}
.mini-profile-icon {
  width: 25px;
  height: 25px;
}
