.button {
  font: inherit;
  border: 1px solid #0a416e;
  background: #0a416e;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #164f7e;
  border-color: #164f7e;
}

.button:focus {
  outline: none;
}
